<!DOCTYPE html>
<html lang="en">
<head>
    @using Microsoft.AspNetCore.Identity
    @using OnlineLibrary.Models.DBEntities
    @using System.Security.Claims
    @using OnlineLibrary.Areas.Identity.Data

    @inject SignInManager<OnlineLibraryUser> SignInManager
    @inject UserManager<OnlineLibraryUser> UserManager

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineLibrary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineLibrary.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />    
</head>
<body>
    <header>
        <style>
        
            .navbar-custom{
                border-bottom:5px solid;
                border-bottom-color: dodgerblue;
            }

            .nav-link {
                background-image: linear-gradient( to right, dodgerblue, dodgerblue 50%, #000 50% );
                background-size: 200% 100%;
                background-position: -100%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all 0.3s ease-in-out;
            }

            .nav-link:hover {
                background-position: 0;
            }

            .nav-link:hover::before {
                width: 100%;
             }

        </style>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-custom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OnlineLibrary</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end align-center">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                            </li>
                            @if(User.IsInRole("Admin")){
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AdminLoggedIn" asp-action="Dashbord">Dashboard</a>
                                </li>
                            }
                            @if(User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Categories
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Create">Add Category</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Manage Categories</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Authors
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Authors" asp-action="Create">Add Authors</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Authors" asp-action="Index">Manage Authors</a>
                                    </div>                                    
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Books
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Create">Add Books</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Manage Books</a>
                                    </div>                                    
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Loans
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Loans" asp-action="Create">Issue Book</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Loans" asp-action="Index">Manage Loans</a>
                                    </div>
                                    
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">View Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Authors" asp-action="Index">View Authors</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">View Books</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Loans" asp-action="Index">View Loans</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Users
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Create">Register Users</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Manage Users</a>
                                    </div>
                                </li>
                            }
                            <li class="nav-item">
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="nav-link btn-danger my-2 my-sm-0">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>

                }
                else
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end align-center">
                        <partial name="_LoginPartial" />
                    </div>

                }
            </div>
        </nav>
    </header>
    <div class="container" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer" style="text-emphasis-color: white">
        <div class="container">
            &copy; 2023 - OnlineLibrary - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
