@{
    ViewData["Title"] = "Home Page";    
}
<head>
    
</head>

<style>
    .contentBackgroundImage {
        background-image: url("/Data/Img/LandingPage.jpg");
        width: auto;
        height: auto;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<body class="contentBackgroundImage">
    <div class="text-center" style="padding:10px">
        <h2 style="font-family:Arial, Helvetica, sans-serif; font-palette:dark"><b>Welcome</b></h2>
        <p style="font-family:Arial, Helvetica, sans-serif">Take a tour in our virtual library!</p>
        <a href="Home/LogIn" class="btn btn-primary " style="width: 250px ;font-family:Arial, Helvetica, sans-serif; font-palette:dark">Log In</a>
        <a href="Home/SignUp" class="btn btn-primary" button-item" style="width: 250px ; font-family:Arial, Helvetica, sans-serif; font-palette:dark">Sign Up</a>
    </div>
</body>
 