@{
    ViewData["Title"] = "Home Page";    

}
@using Microsoft.AspNetCore.Identity
@using OnlineLibrary.Models.DBEntities
@using OnlineLibrary.Areas.Identity.Data

@inject SignInManager<OnlineLibraryUser> SignInManager
@inject UserManager<OnlineLibraryUser> UserManager
<head>
    
</head>

<style>
    .contentBackgroundImage {
        background-image: url("/Data/Img/LandingPage.jpg");
        width: auto;
        height: auto;
        background-size: 100% 100%;soutr
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<body class="contentBackgroundImage">
    <div class="text-center" style="padding:10px">
        <h2 style="font-family:Arial, Helvetica, sans-serif; font-palette:dark"><b>Welcome</b></h2>
        <p style="font-family:Arial, Helvetica, sans-serif">Take a tour in our virtual library!</p>
        @if(SignInManager.IsSignedIn(User))
        {
            
        }
        else
        {
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary " style="width: 250px ;font-family:Arial, Helvetica, sans-serif; font-palette:dark">Log In</a>
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary" button-item" style="width: 250px ; font-family:Arial, Helvetica, sans-serif; font-palette:dark">Register</a>
        }
    </div>
</body>
 