@model OnlineLibrary.Models.ModelViews.LoansViewModel

@{
    ViewData["Title"] = "View";
}
<div>
    <h3>Issue Book</h3>
</div>
<form method="post" asp-action="Save" asp-controller="Loans">
    
    <div class="form-group">
        @Html.ListBoxFor(x =>x.SelectedBooks,Model.Books, new {style = "width: 200px"})
    </div>
    <div class="form-group">
        @Html.ListBoxFor(y =>y.SelectedUsers,Model.Users, new {style = "width: 200px"})
    </div>

    <div class="form-group">
        <label asp-for="LoanDate">Issue Date</label>
        <input asp-for="LoanDate" type="date" id="LoanDate" name="LoanDate" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="ReturnDate">Return Date</label>
        <input asp-for="ReturnDate" type="date" id="ReturnDate" name="ReturnDate" class="form-control" required />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>

</form>

