@{
    ViewData["Title"] = "Admin Dashbord";   
}
<div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-sm">
                <div class="card text-center mb-3" style="max-width: 18rem; height: 12rem">
                    <div class="card-header"><i class="fa fa-book fa-4x" style="color:forestgreen"></i></div>
                    <div class="card-body">
                        <h5 class="card-title" style="color:forestgreen">17</h5>
                        <p class="card-text" style="color:forestgreen">Books listed</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-center mb-3" style="max-width: 18rem; height: 12rem">
                    <div class="card-header"><i class="fa fa-recycle fa-4x" style="color:saddlebrown"></i></div>
                    <div class="card-body">
                        <h5 class="card-title" style="color:saddlebrown">10</h5>
                        <p class="card-text" style="color:saddlebrown"> Books Not Returned Yet</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-center mb-3" style="max-width: 18rem; height: 12rem">
                    <div class="card-header"><i class="fa fa-users fa-4x" style="color:red"></i></div>
                    <div class="card-body">
                        <h5 class="card-title" style="color:red">5</h5>
                        <p class="card-text" style="color:red">Registered Users</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-center mb-3" style="max-width: 18rem; height: 12rem">
                    <div class="card-header"><i class="fa fa-user fa-4x " style="color:orchid"></i></div>
                    <div class="card-body">
                        <h5 class="card-title" style="color:orchid">7</h5>
                        <p class="card-text" style="color:orchid">Authros Listed</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-center mb-3" style="max-width: 18rem; height: 12rem">
                    <div class="card-header"><i class="fa fa-list fa-4x " style="color:darkblue"></i></div>
                    <div class="card-body">
                        <h5 class="card-title" style="color:darkblue">3</h5>
                        <p class="card-text" style="color:darkblue">Listed Categories</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
